.Border {
  background-color: white;
  margin-left: 350px;
  margin-right: 50px;
  border-radius: 12px;
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    border-bottom: 0.5px solid rgb(197, 197, 197);
    padding-top: 25px;
    padding-bottom: 10px;
    .title {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 15px;
    }
  }
  .UserTable {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }
}
